

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Company Name</title>

    <!-- Font Awesome Icons -->
    <link href="~/WebsiteContent/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="~/WebsiteContent/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/WebsiteContent/css/creative.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>MyWebsite</title>
</head>
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            @{foreach (System.Data.DataRow dr in ViewBag.onNewCompany.Rows) {
                        <a class="navbar-brand js-scroll-trigger" href="#page-top">@dr["CompanyName"]</a>
                }
                }
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Team">Our Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="~/Login/Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            @{ foreach (System.Data.DataRow dr in ViewBag.onNewCompany.Rows)
                {
                        <div class="row h-100 align-items-center justify-content-center text-center">
                            <div class="col-lg-10 align-self-end">
                                <h1 class="text-uppercase text-white font-weight-bold">@dr["Head"]</h1>
                            
                            </div>
                            <div class="col-lg-8 align-self-baseline">
                                <p class="text-white-75 font-weight-light mb-5">@dr["Body"]</p>

                            </div>
                          
                        </div>
                }
            }
         
        </div>
    </header>

    <!-- About Section -->
    <section id="about" style="background-color:whitesmoke;height:300px">
        <div class="container">
            <div class="row justify-content-center">
                @{ foreach (System.Data.DataRow dr in ViewBag.onNewCompany.Rows)
                    {
                        <div class="col-lg-8 text-center">
                            <h2  style="color:darkblue;text-decoration:underline;">@dr["ATitle"]</h2>
                        
                           
                            <p  style="color:black;">@dr["ABody"]</p>
                            
                        </div>
                        }
                    }
                    </div>
        </div>
    </section>

    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">At Your Service</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6" style="padding:3px">
                    <a class="portfolio-box" href="~/WebsiteContent/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- Services Section -->
    <section class="page-section" id="Team">
        <div class="container">
            <h2 class="text-center mt-0">Our Team</h2>
            <hr class="divider my-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/1.jpg" alt="" style="width:150px;height:150px;border-radius:50%">
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/1.jpg" alt="" style="width:150px;height:150px;border-radius:50%">
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/1.jpg" alt="" style="width:150px;height:150px;border-radius:50%">
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <img class="img-fluid" src="~/WebsiteContent/img/portfolio/thumbnails/1.jpg" alt="" style="width:150px;height:150px;border-radius:50%">
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section -->
    <section class="page-section" id="contact">
        <div class="container">
            <h2 class="text-center mt-0">Our Team</h2>
            <hr class="divider my-4">
            <h2 style="text-align:center">Let's Get In Touch!</h2>
            <p style="text-align:center">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i><br />
                        @{foreach (System.Data.DataRow dr in ViewBag.onNewCompany.Rows)
                            {
                            <a class="navbar-brand js-scroll-trigger" href="#page-top">@dr["Phone"]</a><br />
                            }
                        }

                      
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">

                    <h4 style="text-align:center;color:darkblue;text-decoration:underline">Write Your Comment</h4>
                    <form method="post" style="padding-top:20px;border:1px solid lightgrey;padding:10px;background-color:whitesmoke;border-radius:5px">
                        <input type="text" name="Name" class="form-control" placeholder="Enter Your Name" style="border:1px solid lightblue;" required /><br />
                        <input type="text" name="Email" class="form-control" placeholder="Enter Your Email" style="border:1px solid lightblue;" required />
                     
                        Enter Your Comment/Message
                        <textarea required class="form-control" name="Message" rows="3" style="border:1px solid lightblue;"></textarea><br />
                        <button class="btn btn-success btn-block btn-lg waves-effect waves-light" type="submit">Submit Your Message</button>
                    </form>
                    @{
                        if (TempData["msg"] != null)
                        {
                            <script>alert( '@TempData["msg"]')</script>
                        }
                    }
                </div>
                <div class="col-lg-4 col-md-6 text-left" style="padding-left:40px">
                    <div class="mt-5">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i> 
                        <br />
                        @{foreach (System.Data.DataRow dr in ViewBag.onNewCompany.Rows)
                            {
                                <a class="navbar-brand js-scroll-trigger" href="#page-top">@dr["Email"]</a>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div style="text-align:right;">facebook Twitter Website Email</div>
            <div class="small text-center text-muted">Copyright &copy; 2020 - by Patrick Tonui</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/WebsiteContent/vendor/jquery/jquery.min.js"></script>
    <script src="~/WebsiteContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/WebsiteContent/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/WebsiteContent/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/WebsiteContent/js/creative.min.js"></script>

</body>
</html>

